* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
  body {
  font-family: 'Raleway', sans-serif;
  perspective: 500px;
}

  
.container {
  width: 100%;
  height: 100vh;
  background-color: #fe6347;
}
  
.middleMargin {
  width: 70vw;
  margin: 0 auto;
}
  
.headerInner {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
}

.btnBlock {
  width: 500px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  transform-style: preserve-3d;
}
  
.btn {
  padding: 10px 30px;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 10px;
  background-color: #FFF;
  cursor: pointer;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
  
.burgerBlock {
  background-color: black;
  width: 50px;
  height: 50px;
}
  
.header {
  text-align: center;
  color: white;
  margin: 0 auto;
  width: 500px;
  height: 220px;
  padding-top: 90px;
  position: relative;
  overflow: hidden;
  }
  
.mainTitle {
  background-color: #14111a;
  /*  width block  */
  width: 0px;
}
  
.mainTitle h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 65px;
  /*  display  */
  /*   display: none; */
}
  
.title {
  display: block;
  width: 500px;
  opacity: 0;
}

.title span {
  display: inline-block;
  white-space: pre;
  animation: type .2s ease-in;
}
  
.textTitle {
  padding-top: 20px;
}
  
.textTitle p {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}
  
.anim {
  animation-name: slideIn;
  animation-duration: 1s;
}
  
.removeBtn {
  animation-name: slideOut;
  animation-duration: 1s;
}

.leftSlide {
  position: absolute;
  left: -200px;
}

.rightSlide {
  position: absolute;
  right: -200px;
}

.right {
  animation-name: rightSlide;
  animation-duration: 1s;

  position: absolute;
}

.left {
  animation-name: leftSlide;
  animation-duration: 1s;
}

@keyframes rightSlide {
  from {
    right: -100px;
  }
  to {
    right: 50px;
  }
}

.widthAnim {
  animation-name: animWidth;
  animation-duration: .5s;
}

@keyframes animWidth {

  from {
    padding-left: 10px;
    padding-right: 10px;
  }

  to {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.heightAnim {
  animation-name: animHeight;
  animation-duration: .8s;
}

@keyframes animHeight {

  from {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  to {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@keyframes leftSlide {
  from {
    left: -100px;
  }
  to {
    left: 50px ;
  }
}

/* anim main title */
  
@keyframes slideIn {
  from {
    width: 0px;
  }
    
  to {
    width: 500px;
  }
}
  
@keyframes slideOut {
  from {
    width: 68.625px;
  }
    
  to {
    width: 0px;
    display: none;
  }
}

@keyframes type { 30%, 40% { transform: scale(1.3); } }